.u-section-1 .u-sheet-1 {
  min-height: 946px;
}

.u-section-1 .u-tabs-1 {
  min-height: 774px;
  margin-top: 162px;
  margin-bottom: 10px;
  height: auto;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-form-1 {
  height: 154px;
  width: 1090px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-19 {
  background-image: none;
  border-style: double;
}

.u-block-e945-290 {
  background-image: none;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  line-height: 1.8;
  font-weight: normal;
  margin: 0 auto 0 25px;
}

.u-section-1 .u-text-2 {
  margin: 25px auto 0 25px;
}

.u-section-1 .u-text-3 {
  margin: -21px 313px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: -21px auto 0 400px;
}

.u-section-1 .u-form-2 {
  height: 248px;
  margin: 33px 44px 0 415px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  width: 197px;
}

.u-section-1 .u-label-3 {
  width: 197px;
}

.u-section-1 .u-label-4 {
  width: 197px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  width: 197px;
}

.u-section-1 .u-label-6 {
  width: 197px;
}

.u-section-1 .u-label-7 {
  width: 197px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  width: 197px;
}

.u-section-1 .u-label-9 {
  width: 197px;
}

.u-section-1 .u-label-10 {
  width: 197px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-11 {
  width: 197px;
}

.u-section-1 .u-label-12 {
  width: 197px;
}

.u-section-1 .u-label-13 {
  width: 197px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-14 {
  width: 197px;
}

.u-section-1 .u-label-15 {
  width: 197px;
}

.u-section-1 .u-label-16 {
  width: 197px;
}

.u-section-1 .u-label-17 {
  width: 197px;
}

.u-section-1 .u-btn-2 {
  padding: 18px 100px;
}

.u-block-e945-257 {
  width: 197px;
}

.u-block-e945-258 {
  height: 286px;
}

.u-section-1 .u-table-2 {
  width: 948px;
  margin: -317px auto 86px 15px;
}

.u-block-e945-364 {
  height: 46px;
}

.u-section-1 .u-table-cell-31 {
  margin-left: 0;
  background-image: none;
}

.u-section-1 .u-table-cell-32 {
  margin-left: 0;
  background-image: none;
}

.u-section-1 .u-table-cell-33 {
  margin-left: 0;
  background-image: none;
}

.u-section-1 .u-table-cell-34 {
  margin-left: 0;
  background-image: none;
}

.u-section-1 .u-table-cell-35 {
  margin-left: 0;
  background-image: none;
}

.u-section-1 .u-table-cell-36 {
  margin-left: 0;
  background-image: none;
}

.u-block-e945-371 {
  height: 46px;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-table-3 {
  width: 1079px;
  margin: 0 auto;
}

.u-section-1 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-39 {
  background-image: none;
}

.u-section-1 .u-table-cell-41 {
  background-image: none;
}

.u-section-1 .u-table-cell-43 {
  background-image: none;
}

.u-section-1 .u-table-cell-45 {
  background-image: none;
}

.u-block-e945-189 {
  background-image: none;
}

.u-section-1 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 25px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 0 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 940px;
  }

  .u-section-1 .u-table-cell-7 {
    margin-left: 0;
  }

  .u-section-1 .u-table-cell-10 {
    margin-left: 0;
  }

  .u-section-1 .u-table-cell-13 {
    margin-left: 0;
  }

  .u-section-1 .u-table-cell-16 {
    margin-left: 0;
  }

  .u-section-1 .u-table-cell-19 {
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    line-height: 28.8px;
    font-weight: 400;
  }

  .u-section-1 .u-text-4 {
    margin-left: 330px;
  }

  .u-section-1 .u-form-2 {
    width: 940px;
    margin-left: 259px;
    margin-right: 0;
  }

  .u-section-1 .u-table-2 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-table-3 {
    width: 940px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 240px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 253px;
  }

  .u-section-1 .u-form-2 {
    width: 720px;
    margin-left: 39px;
  }

  .u-section-1 .u-table-2 {
    width: 720px;
  }

  .u-section-1 .u-table-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 180px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 190px;
  }

  .u-section-1 .u-form-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-table-2 {
    width: 540px;
  }

  .u-section-1 .u-table-3 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 113px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 120px;
  }

  .u-section-1 .u-form-2 {
    width: 340px;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
  }

  .u-section-1 .u-table-3 {
    width: 340px;
  }
}